/*
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
lists.css
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
*/

/*
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
List Styles
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
*/

/*
--------------------------------------------------------------------------------
Default List Style
--------------------------------------------------------------------------------
*/

ul {
	display: block;
	margin-top: 4px;
	margin-bottom: 20px;	
	margin-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 0px;
	
	border-left: solid;
	border-left-width: 1px;
	border-left-color: rgb(220, 220, 255);
}

/*
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
List Item Styles
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
*/

/*
--------------------------------------------------------------------------------
Default List Item Style
--------------------------------------------------------------------------------
*/

li {
	list-style-type: none;
	font-size: 10pt;
	line-height: 1.3;
	display: block;
	margin-left: 0px;
	margin-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}

/*
--------------------------------------------------------------------------------
Section List Item Style
--------------------------------------------------------------------------------
*/

li.section {
	font-size: 12pt;
	padding-bottom: 0px;
}


/*
--------------------------------------------------------------------------------
Label List Item Style
--------------------------------------------------------------------------------
*/

li.label {
	color: rgb(200, 200, 255);
	display: block;
}

li.label:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(100, 100, 155);
}

li.label:hover * {
	color: rgb(255, 255, 255);
}

li.label a:after {
	color: rgb(220, 220, 0);
	content: " ~[ DC ]~";
	float: right;
	margin-left: 10px;
	font-size: 8pt;
}

/*
--------------------------------------------------------------------------------
Core List Item Style
--------------------------------------------------------------------------------
*/

li.core {
	color: rgb(150, 150, 0);
}

li.core:after {
	content: " (core)";
	float: right;
	margin-left: 10px;
	font-size: 8pt;
}

li.core * {
	color: rgb(150, 150, 0);
}

li.core:hover {
	color: rgb(255, 255, 0);
	background-color: rgb(100, 100, 0);
}

li.core:hover * {
	color: rgb(255, 255, 0);
}

/*
--------------------------------------------------------------------------------
Model List Item Style
--------------------------------------------------------------------------------
*/

li.model {
	font-size: 9pt;
	color: rgb(0, 200, 0);
}

li.model:hover {
	color: rgb(0, 255, 0);
	background-color: rgb(0, 120, 0);
}

li.model:hover * {
	color: rgb(0, 255, 0);
}

li.model a {
	display: block;
}

li.model a:after {
	color: rgb(220, 220, 0);
	content: " ~[ DC ]~";
	float: right;
	margin-left: 10px;
	font-size: 8pt;
}